.button{
    padding: 10px 22px;
    text-align: center;
    display: block;
    margin: 0px auto;
    width: max-content;
}

.button_header{
    border: 1px solid #cceffc;
    border-radius: 5px;
    padding: 11px 27px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.button_header:hover{
    background-color: #000;
}

.button_buy, .button_faq{
    width: 300px;
    margin: 0px 5px 20px 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #00aff0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 22px 0px;
}

.button_buy:hover{
    background-color: #35c8ff;
    color: #fff;
}

.button_faq{
    background-color: #35c8ff;
    color: #fff;
}

.button_faq:hover{
    background-color: #fff;
    color: #35c8ff;
}


@media (max-width:565px),(max-device-width:565px) {
    .button_header{
        display: none;
    }
}
