section.timer
    h2.timer__title Offer ends in:
    .timer__digits.row
        .timer__item.row
            span.timer__days 06 
            | days
        .timer__item.row
            span.timer__hours 06 
            | hours
        .timer__item.row
            span.timer__minutes 06 
            | minutes
        .timer__item.row
            span.timer__seconds 06 
            | seconds
            
    .row.row_timer
        .timer__text-wrapper
            .timer__text Sold:
            .timer__text.timer__text_bold 
                span.timer__sold 756
                | CRV
            
        .timer__text-wrapper.timer__text-wrapper_middle
            .timer__text.timer__text_center Current price:
                span.timer__curr-price 
                
            .timer__text 1 USD = 
                span.timer__usd 27.58
                | HRN OR 
                span.timer__rur 57.85
                | RUR
            
        .timer__text-wrapper.timer__text-wrapper_text_right
            .timer__text Plan to sell:
            .timer__text.timer__text_bold 
                span.timer__plan 1200
                | CRV
                
    .timer__progress
        .timer__progress-percents 75%
        
    .timer__text-wrapper.timer__text-wrapper_middle-mobile
        .timer__text.timer__text_center Current price:
            span.timer__curr-price 
            
        .timer__text 1 USD = 
            span.timer__usd 27.58
            | HRN OR 
            span.timer__rur 57.85
            | RUR
        
    h4.timer__subtitle PAYMENT METHODS
    .row.row_timer
        .timer__pay-method Visa
        .timer__pay-method Mastercard
        
        
    
