footer.footer
    .header__wraper.row
        a.header__logo(href="#")
        nav.header__menu
            ul.row
                li
                    a.link.link_header-item(href="#screen2") Screen 2
                li
                    a.link.link_header-item(href="#screen2") Screen 3
                li
                    a.link.link_header-item(href="#screen2") Screen 4
                li
                    a.link.link_header-item(href="#screen2") Screen 5
                li
                    a.link.link_header-item(href="#screen2") Screen 6
                li    
                    a.link.button.button_header(href="2v.html") buy now
                    
    .footer__copyright (C) 2018 All rights reserved. Blablabla Lorem ipsum dolor sit amet, consectetur adipiscing elit
