doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
    
        section.container.container_top
            include ../blocks/header/header.jade
            
            .container__img-top
            h1.container__title.container__title_main Lorem ipsum dolor
            h3.container__text.container__text_main Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            
            .row.row_buttons
                a.link.button.button_buy(href="#") buy now
                a.link.button.button_faq(href="#") faq
                
        main
            include ../blocks/timer/timer.jade
            
            section.container
                h2.container__title Screen 2
                h3.container__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
                .row.row_images
                    .img-text.img-text__rect
                        .img-text__img
                        h5.img-text__title Lorem ipsum
                        .img-text__content.img-text__content_text_small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    .img-text.img-text__rect
                        .img-text__img
                        h5.img-text__title Lorem ipsum
                        .img-text__content.img-text__content_text_small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    .img-text.img-text__rect
                        .img-text__img
                        h5.img-text__title Lorem ipsum
                        .img-text__content.img-text__content_text_small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    .img-text.img-text__rect
                        .img-text__img
                        h5.img-text__title Lorem ipsum
                        .img-text__content.img-text__content_text_small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore

            section.container
                h2.container__title Text
                .row.row_links
                    a.link.link_icon
                    a.link.link_icon
                    a.link.link_icon
                    a.link.link_icon
                    
                    
            section.container
                h3.container__title Screen 3
                iframe(src="https://player.vimeo.com/video/258828793", style="height: 50vw; max-height:360px; width:100%", frameborder="0", webkitallowfullscreen="true", mozallowfullscreen="true", allowfullscreen="true")

                section.container
                    h2.container__title Screen 4
                    .container__img.container__img_roadmap
                    .row.row__roadmap
                        .container__roadmap-item
                            .container__text.container__text_small.container__text_date.container__text_left February 2018
                            .container__text.container__text_small.container__text_left Sed perspiciatis
                            
                        .container__roadmap-item
                            .container__text.container__text_small.container__text_date.container__text_left March 2018
                            .container__text.container__text_small.container__text_left Sed perspic
                            
                        .container__roadmap-item
                            .container__text.container__text_small.container__text_date.container__text_left Q1 2018
                            .container__text.container__text_small.container__text_left Sed ut perspiciatis, unde omnis iste natus
                            
                        .container__roadmap-item
                            .container__text.container__text_small.container__text_date.container__text_left Q2 2018
                            .container__text.container__text_small.container__text_left Sed ut perspiciatis, unde omnis iste natus
                            
                        .container__roadmap-item
                            .container__text.container__text_small.container__text_date.container__text_left Q4 2018
                            .container__text.container__text_small.container__text_left Sed ut perspiciatis, unde omnis
                        
            section.container
                h2.container__title Screen 5
                .container__img.container__img_screen5
            
            section.container
                h2.container__title Screen 6
                .row.row_images
                    .img-text.img-text__small
                        .img-text__img.img-text__img_circle
                        h5.img-text__title Lorem ipsum
                        .img-text__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    .img-text.img-text__small
                        .img-text__img.img-text__img_circle
                        h5.img-text__title Lorem ipsum
                        .img-text__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    .img-text.img-text__small
                        .img-text__img.img-text__img_circle
                        h5.img-text__title Lorem ipsum
                        .img-text__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    .img-text.img-text__small
                        .img-text__img.img-text__img_circle
                        h5.img-text__title Lorem ipsum
                        .img-text__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    .img-text.img-text__small
                        .img-text__img.img-text__img_circle
                        h5.img-text__title Lorem ipsum
                        .img-text__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        
            .row.row_buttons
                a.link.button.button_buy(href="#") buy now
                a.link.button.button_faq(href="#") faq
        
        include ../blocks/footer/footer.jade
