doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
    
        section.container.container_top
            include ../blocks/header/header.jade
            
            .container__img-top.container__img-top__small
            h1.container__title.container__title_main Lorem ipsum dolor
            h3.container__text.container__text_main Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        
        main
            section.container.container_white
                h2.container__text.container__text_title.container__text_black Lorem ipsum
                p.container__text.container__text_black.container__text_left 
                    strong Lorem ipsum dolor sit amet
                    .container__text.container__text_black.container__text_left Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                
                p.container__text.container__text_black.container__text_left 
                    strong Lorem ipsum dolor sit amet
                    .container__text.container__text_black.container__text_left Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                
                p.container__text.container__text_black.container__text_left 
                    strong Lorem ipsum dolor sit amet
                    .container__text.container__text_black.container__text_left Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                
                p.container__text.container__text_black.container__text_left 
                    strong Lorem ipsum dolor sit amet
                    .container__text.container__text_black.container__text_left Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                
                p.container__text.container__text_black.container__text_left 
                    strong Lorem ipsum dolor sit amet
                    .container__text.container__text_black.container__text_left Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                
                .row.row_steps
                    .container__text.container__text_black
                        strong Step 1:
                        | Excepteur sint
                        .container__img.container__img_step1 
                    .container__text.container__text_black
                        strong Step 2:
                        | Excepteur sint occaecat
                        .container__img.container__img_step2
                    .container__text.container__text_black
                        strong Step 3:
                        | Excepteur sint occaecat
                        .container__img.container__img_step3
                        
                .container__img.container__img_fullWidth
                        
                
            
        
        include ../blocks/footer/footer.jade
